# ignore the results and the logs directory for the github

results/
logs/
workflow/envs/src/
temp/
**/logs
resources/
manualAnalysis/Statistics/results # results from the manual analysis

# ignore snakemake internal files

.snakemake/

# ignore cluster output

*.out
